fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

langchain
langchain-openai
langchain-community
langchain-chroma
langgraph
langsmith
langchain-text-splitters

chromadb
pypdf
python-docx
unstructured
markdown

psycopg[binary]
langchain-qdrant
qdrant-client

sqlalchemy
streamlit

requests
