fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

langchain
langchain-openai
langchain-community
langgraph
langsmith
langchain-text-splitters

chromadb
pypdf
python-docx
unstructured
markdown

sqlalchemy
streamlit
